__pycache__/
*.py[cod]
*.sqlite3
*.log
*.pot
*.pyc
.env
.env.*
*.egg-info/
dist/
build/
static/
media/
.mypy_cache/
.poetry/
poetry.lock
db.sqlite3
*.db
coverage/
htmlcov/
.DS_Store
.vscode/
.idea/
*.swp
*.swo
